<h1>Hello <%= current_user.first_name if current_user %></h1>
<p>Find me in app/views/pages/home.html.erb</p>
<p><%= link_to "Login", new_user_session_path %></p>
<p><%= link_to "Logut", destroy_user_session_path, method: :delete %></p>
<%= @skills.inspect %>
